#inner.row
  = partial 'partials/nav/posts'
  %section#body
    =flash_tag :notice
    - if !@posts.blank?
      %table
        %thead
          %tr
            %th Title
            %th Posted
            %th Actions
        %tbody
          - @posts.each do |post|
            %tr{:class => post.published.to_s}
              - if post.type == "text"
                - if !post.title.blank?
                  %td
                    %a{:href => Marvin.url(:post, :permalink => post.permalink)}= post.title
                - else
                  %td
                    %a{:href => Marvin.url(:post, :permalink => post.permalink)}= truncate_words(post.body, 15)
              - else
                - if !post.caption.blank?
                  %td
                    %a{:href => Marvin.url(:post, :permalink => post.permalink)}= post.caption
                - else
                  %td
                    %a{:href => Marvin.url(:post, :permalink => post.permalink)}= post.type.camelize
                
              %td= post.created_at
              %td
                %a{:href => url(:posts, :edit, :id => post.id)} Edit
                &mdash;
                %form.inline{:action => url(:posts, :destroy), :method => "post"}
                  %input{:name => "id", :type => "hidden", :value => post.id}/
                  %input{:name => "_method", :type => "hidden", :value => "delete"}/
                  %button.inline{:type => "submit", :value => "Delete"} Delete
                  
    - else
      No posts!
      %a{:href => url(:posts, :new, :type => "text")} Why not create a new one.
