#inner.row
  = partial 'partials/nav/accounts', :locals => { :selected => "manage" }
  %section#body
    =flash_tag :notice
    - if !@accounts.blank?
      %table
        %thead
          %tr
            %th Name
            %th Email
            %th Timestamp
            %th Actions
        %tbody
          - @accounts.each do |account|
            %tr
              %td= "#{account.name} #{account.surname}"
              %td= account.email
              %td= account.created_at
              %td
                %a{:href => url(:accounts, :edit, :id => account.id)} Edit
                &mdash;
                %form.inline{:action => url(:accounts, :destroy), :method => "post"}
                  %input{:name => "id", :type => "hidden", :value => account.id}/
                  %input{:name => "_method", :type => "hidden", :value => "delete"}/
                  %button.inline{:type => "submit", :value => "Delete"} Delete
                    
    - else
      %p
        No accounts? How is that possible?
